<div class="dashboard">
    <div>
        <div class="flex-shrink-0 p-3 bg-success" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
              <span class="fs-5 fw-semibold">Collapsible</span>
            </a>
            <ul class="list-unstyled ps-0" style="margin-bottom: 3000px;">
              <li class="mb-1">
                <a routerLink="/hotels" class="btn btn-toggle align-items-center rounded collapsed" style="color: #fff;" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                  Accomodation
                </a>
                <div class="collapse show" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <!-- Accomodation -->
                  <li><a routerLink="/hotels" class="link-dark rounded"  style="color: #fff;">Hotels</a></li>
                    <li><a href="#" class="link-dark rounded" style="color: #fff;">Lodges</a></li>
                    <li><a href="#" class="link-dark rounded" style="color: #fff;">BnB</a></li>
                    <li><a href="#" class="link-dark rounded" style="color: #fff;">Guest House</a></li>
                    <li><a href="#" class="link-dark rounded" style="color: #fff;">Vacation Homes</a></li>
                    <li><a href="#" class="link-dark rounded" style="color: #fff;">Homestays</a></li>
                    <li><a href="#" class="link-dark rounded" style="color: #fff;">Message</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" style="color: #fff;" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                  Restuarent
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded" style="color: #fff;"></a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" style="color: #fff;" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                  Gauteng cities
                </button>
                <div class="collapse" id="orders-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded" style="color: #fff;"></a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" style="color: #fff;" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                  Entertainment
                </button>
                <div class="collapse" id="orders-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded" style="color: #fff;"></a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" style="color: #fff;" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                  Events
                </button>
                <div class="collapse" id="orders-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded" style="color: #fff;"></a></li>
                  </ul>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" style="color: #fff;" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                  Account
                </button>
                <div class="collapse" id="account-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded" style="color: #fff;">New...</a></li>
                    <li><a href="#" class="link-dark rounded" style="color: #fff;">Profile</a></li>
                    <li><a href="#" class="link-dark rounded" style="color: #fff;">Settings</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
    </div>

    <!-- Side navbar ends -->
    
    <div class="below">
       <div class="accomodation">
        <div class="gif">
          <div>
            <h1 class="first-header">Need  Accomodation? <br> <marquee style="color: #fff;" behavior="" direction="left">let us help you</marquee></h1>
          </div>
        </div>
        
       </div>
       <div class="hotels">
        <h1 class="header-one">Hotels</h1>
        <div class="hotel">
          <div>
            <img class="jozi" src="https://cdn.britannica.com/49/100349-050-24E63356/view-central-business-district-Johannesburg-South-Africa.jpg" alt="Johannesburg">
             <h6 class="johannesburg">Johannesburg</h6>
             <p class="johannesburg">134 Hotels</p>
          </div>
          <div>
            <img src="https://content.r9cdn.net/rimg/dimg/c2/18/9a370f03-city-32072-17314d6e9cf.jpg?width=1750&height=1000&xhint=2612&yhint=1528&crop=true" alt="Pretoria" class="jozi">
            <h6 class="johannesburg">Pretoria</h6>
            <p class="johannesburg">61 Hotels</p>
          </div>
          <div>
            <img src="https://ak-d.tripcdn.com/images/22030t000000imhk843A8_R_550_412_R5_Q70_D.jpg" alt="Kempton Park" class="jozi">
            <h6 class="johannesburg">Kempton Park</h6>
            <p class="johannesburg">21 Hotels</p>
          </div>
          <div>
            <img src="https://joburg.co.za/wp-content/uploads/2020/07/midrand-featured.png" alt="Midrand" class="jozi">
            <h6 class="johannesburg">Midrand</h6>
            <p class="johannesburg">14 Hotesl</p>
          </div>
          <div>
            <img src="https://images.prop24.com/212039514" alt="centurion" class="jozi">
            <h6 class="johannesburg">Centurion</h6>
            <p class="johannesburg">8 Hotels</p>
          </div>
          <a routerLink="/hotels" class="btn btn-outline-success form-control">More Hotels</a>
        </div>
      </div>
      <hr>

      <!-- End of Hotels -->

      <div class="motels">
        <h1 class="header-one">Lodges</h1>
        <div class="hotel">
          <div>
            <img class="jozi" src="https://cdn.britannica.com/49/100349-050-24E63356/view-central-business-district-Johannesburg-South-Africa.jpg" alt="Johannesburg">
             <h6 class="johannesburg">Johannesburg</h6>
             <p class="johannesburg">897 Lodges</p>
          </div>
          <div>
            <img src="https://content.r9cdn.net/rimg/dimg/c2/18/9a370f03-city-32072-17314d6e9cf.jpg?width=1750&height=1000&xhint=2612&yhint=1528&crop=true" alt="Pretoria" class="jozi">
            <h6 class="johannesburg">Pretoria</h6>
            <p class="johannesburg">615 Lodges</p>
          </div>
          <div>
            <img src="https://ak-d.tripcdn.com/images/22030t000000imhk843A8_R_550_412_R5_Q70_D.jpg" alt="Kempton Park" class="jozi">
            <h6 class="johannesburg">Kempton Park</h6>
            <p class="johannesburg">92 Lodges</p>
          </div>
          <div>
            <img src="https://joburg.co.za/wp-content/uploads/2020/07/midrand-featured.png" alt="Midrand" class="jozi">
            <h6 class="johannesburg">Midrand</h6>
            <p class="johannesburg">153 Lodges</p>
          </div>
          <div>
            <img src="https://images.prop24.com/212039514" alt="centurion" class="jozi">
            <h6 class="johannesburg">Centurion</h6>
            <p class="johannesburg">102 Lodges</p>
          </div>
          <a href="#" class="btn btn-outline-success form-control">More Lodges</a>
        </div>
      </div>
      <hr>

      <!-- End of Lodges -->

      <div class="Lodges">
        <h1 class="header-one">BnB</h1>
        <div class="hotel">
          <div>
            <img class="jozi" src="https://cdn.britannica.com/49/100349-050-24E63356/view-central-business-district-Johannesburg-South-Africa.jpg" alt="Johannesburg">
             <h6 class="johannesburg">Johannesburg</h6>
             <p class="johannesburg">64 BnB</p>
          </div>
          <div>
            <img src="https://content.r9cdn.net/rimg/dimg/c2/18/9a370f03-city-32072-17314d6e9cf.jpg?width=1750&height=1000&xhint=2612&yhint=1528&crop=true" alt="Pretoria" class="jozi">
            <h6 class="johannesburg">Pretoria</h6>
            <p class="johannesburg">50 BnB</p>
          </div>
          <div>
            <img src="https://ak-d.tripcdn.com/images/22030t000000imhk843A8_R_550_412_R5_Q70_D.jpg" alt="Kempton Park" class="jozi">
            <h6 class="johannesburg">Kempton Park</h6>
            <p class="johannesburg">4 BnB</p>
          </div>
          <div>
            <img src="https://joburg.co.za/wp-content/uploads/2020/07/midrand-featured.png" alt="Midrand" class="jozi">
            <h6 class="johannesburg">Midrand</h6>
            <p class="johannesburg">9 BnB</p>
          </div>
          <div>
            <img src="https://images.prop24.com/212039514" alt="centurion" class="jozi">
            <h6 class="johannesburg">Centurion</h6>
            <p class="johannesburg">53 BnB</p>
          </div>
          <a href="#" class="btn btn-outline-success form-control">More Breakfast and Bed</a>
        </div>
      </div>
      <hr>

      <!-- End of Breakfast and Bed -->

      <div class="Lodges">
        <h1 class="header-one">Guest House</h1>
        <div class="hotel">
          <div>
            <img class="jozi" src="https://cdn.britannica.com/49/100349-050-24E63356/view-central-business-district-Johannesburg-South-Africa.jpg" alt="Johannesburg">
             <h6 class="johannesburg">Johannesburg</h6>
             <p class="johannesburg">194 Guest Houses</p>
          </div>
          <div>
            <img src="https://content.r9cdn.net/rimg/dimg/c2/18/9a370f03-city-32072-17314d6e9cf.jpg?width=1750&height=1000&xhint=2612&yhint=1528&crop=true" alt="Pretoria" class="jozi">
            <h6 class="johannesburg">Pretoria</h6>
            <p class="johannesburg">162 Guest Houses</p>
          </div>
          <div>
            <img src="https://ak-d.tripcdn.com/images/22030t000000imhk843A8_R_550_412_R5_Q70_D.jpg" alt="Kempton Park" class="jozi">
            <h6 class="johannesburg">Kempton Park</h6>
            <p class="johannesburg">39 BnB</p>
          </div>
          <div>
            <img src="https://joburg.co.za/wp-content/uploads/2020/07/midrand-featured.png" alt="Midrand" class="jozi">
            <h6 class="johannesburg">Midrand</h6>
            <p class="johannesburg">23 BnB</p>
          </div>
          <div>
            <img src="https://images.prop24.com/212039514" alt="centurion" class="jozi">
            <h6 class="johannesburg">Centurion</h6>
            <p class="johannesburg">40 BnB</p>
          </div>
          <a href="#" class="btn btn-outline-success form-control">More Guest House</a>
        </div>
      </div>
      <hr>

        <!-- End of Guest House -->

      <div class="Lodges">
        <h1 class="header-one">Vacation homes</h1>
        <div class="hotel">
          <div>
            <img class="jozi" src="https://cdn.britannica.com/49/100349-050-24E63356/view-central-business-district-Johannesburg-South-Africa.jpg" alt="Johannesburg">
             <h6 class="johannesburg">Johannesburg</h6>
             <p class="johannesburg">25 Vacation homes</p>
          </div>
          <div>
            <img src="https://content.r9cdn.net/rimg/dimg/c2/18/9a370f03-city-32072-17314d6e9cf.jpg?width=1750&height=1000&xhint=2612&yhint=1528&crop=true" alt="Pretoria" class="jozi">
            <h6 class="johannesburg">Pretoria</h6>
            <p class="johannesburg">12 Vacation homes</p>
          </div>
          <div>
            <img src="https://ak-d.tripcdn.com/images/22030t000000imhk843A8_R_550_412_R5_Q70_D.jpg" alt="Kempton Park" class="jozi">
            <h6 class="johannesburg">Kempton Park</h6>
            <p class="johannesburg">1 vacation homes</p>
          </div>
          <div>
            <img src="https://joburg.co.za/wp-content/uploads/2020/07/midrand-featured.png" alt="Midrand" class="jozi">
            <h6 class="johannesburg">Midrand</h6>
            <p class="johannesburg">1 vacation homes</p>
          </div>
          <div>
            <img src="https://images.prop24.com/212039514" alt="centurion" class="jozi">
            <h6 class="johannesburg">Centurion</h6>
            <p class="johannesburg">4 vacation homes</p>
          </div>
          <a href="#" class="btn btn-outline-success form-control">More vacation homes</a>
        </div>
      </div>
      <hr>

        <!-- End of vacation homes -->

      <div class="Lodges">
        <h1 class="header-one">Home stays</h1>
        <div class="hotel">
          <div>
            <img class="jozi" src="https://cdn.britannica.com/49/100349-050-24E63356/view-central-business-district-Johannesburg-South-Africa.jpg" alt="Johannesburg">
             <h6 class="johannesburg">Johannesburg</h6>
             <p class="johannesburg">30 Home stays</p>
          </div>
          <div>
            <img src="https://content.r9cdn.net/rimg/dimg/c2/18/9a370f03-city-32072-17314d6e9cf.jpg?width=1750&height=1000&xhint=2612&yhint=1528&crop=true" alt="Pretoria" class="jozi">
            <h6 class="johannesburg">Pretoria</h6>
            <p class="johannesburg">20 Home stays</p>
          </div>
          <div>
            <img src="https://ak-d.tripcdn.com/images/22030t000000imhk843A8_R_550_412_R5_Q70_D.jpg" alt="Kempton Park" class="jozi">
            <h6 class="johannesburg">Kempton Park</h6>
            <p class="johannesburg">5 Home Stays</p>
          </div>
          <div>
            <img src="https://joburg.co.za/wp-content/uploads/2020/07/midrand-featured.png" alt="Midrand" class="jozi">
            <h6 class="johannesburg">Midrand</h6>
            <p class="johannesburg">1 Home stays</p>
          </div>
          <div>
            <img src="https://images.prop24.com/212039514" alt="centurion" class="jozi">
            <h6 class="johannesburg">Centurion</h6>
            <p class="johannesburg">5 home stays</p>
          </div>
          <a href="#" class="btn btn-outline-success form-control">More Home stays</a>
        </div>
      </div>
      <hr>

        <!-- End of Home stays -->
        
      <div class="Lodges">
        <h1 class="header-one">Massage</h1>
        <div class="hotel">
          <div>
            <img class="jozi" src="https://cdn.britannica.com/49/100349-050-24E63356/view-central-business-district-Johannesburg-South-Africa.jpg" alt="Johannesburg">
             <h6 class="johannesburg">Johannesburg</h6>
             <p class="johannesburg">74 Massage</p>
          </div>
          <div>
            <img src="https://content.r9cdn.net/rimg/dimg/c2/18/9a370f03-city-32072-17314d6e9cf.jpg?width=1750&height=1000&xhint=2612&yhint=1528&crop=true" alt="Pretoria" class="jozi">
            <h6 class="johannesburg">Pretoria</h6>
            <p class="johannesburg">85 Massage</p>
          </div>
          <div>
            <img src="https://ak-d.tripcdn.com/images/22030t000000imhk843A8_R_550_412_R5_Q70_D.jpg" alt="Kempton Park" class="jozi">
            <h6 class="johannesburg">Kempton Park</h6>
            <p class="johannesburg">14 Massage</p>
          </div>
          <div>
            <img src="https://joburg.co.za/wp-content/uploads/2020/07/midrand-featured.png" alt="Midrand" class="jozi">
            <h6 class="johannesburg">Midrand</h6>
            <p class="johannesburg">14 Massage</p>
          </div>
          <div>
            <img src="https://images.prop24.com/212039514" alt="centurion" class="jozi">
            <h6 class="johannesburg">Centurion</h6>
            <p class="johannesburg">9 Massage</p>
          </div>
          <a href="#" class="btn btn-outline-success form-control">More Messages</a>
        </div>
      </div>
      <hr>
    </div>
</div>