

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner con1">
          <div class="carousel-item active">
    
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Midrand</h1>
                <p>Midrand is a municipality located centrally in the Gauteng province. The area is located between Centurion and ....</p>
                <p><a class="btn btn-lg btn-primary" href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item con2">
            <div class="container">
              <div class="carousel-caption">
                <h1>Kyayali</h1>
                <p>The final round of the Intercontinental GT Challenge scheduled for Kyalami next month has been postponed in the wake of the latest developments in the COVID pandemic</p>
                <p><a class="btn btn-lg btn-primary" href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item con3">
            <div class="container">
              <div class="carousel-caption">
                <h1>Kyayali</h1>
                <p>The final round of the Intercontinental GT Challenge scheduled for Kyalami next month has been postponed in the wake of the latest developments in the COVID pandemic</p>
                <p><a class="btn btn-lg btn-primary" href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item con4">
            <div class="container">
              <div class="carousel-caption">
                <h1>Kyayali</h1>
                <p>The final round of the Intercontinental GT Challenge scheduled for Kyalami next month has been postponed in the wake of the latest developments in the COVID pandemic</p>
                <p><a class="btn btn-lg btn-primary" href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item con5">
    
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Melrose</h1>
                <p>Located in Melrose Arch, Johannesburg’s newest developing suburb, the modern African Pride Melrose Arch is an urban traveller’s ideal stopove.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    

    
      <div class="container marketing">
    
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">

            <img src="https://sandtoncity.com/uploads/hotels.jpg" alt="Santon" class="images bd-placeholder-img rounded-circle">
            <h2>Sandton Hotel</h2>
            <p>Hotels in the Sandton area are renowned to be some of the finest and most prestigious in Africa. Offering luxurious accommodation, world-class service, easy access to the Gautrain station and surrounded by the continent’s best retail, entertainment and nightlife offerings, Sandton hotels are in a league of their own</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">

            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/83/43/fb/gardens-and-fountains.jpg?w=900&h=-1&s=1" alt="Magdala Hotel" class="images bd-placeholder-img rounded-circle">
            <h2>Magdala Hotel</h2>
            <p>The Magdala hotel is Israel´s newest and most uniquely situated hotel in the Galilee. Found in the recently discovered first century town of Magdala, its 150 rooms feature views to the shores of the Sea of Galilee or its first century archaeological park. Situated 10-15 min from all main tourist sites guests can experience an ambience of serenity, extraordinary natural beauty, and ancient history.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">

           <img src="https://yourneighbourhood.co.za/wp-content/uploads/2020/01/Kikuyu-Waterfall.jpg" alt="Waterfall" class="images bd-placeholder-img rounded-circle">
            <h2>Waterfall</h2>
            <p>WORDS: BETSIE LOOCK-VAN DER MERWE IMAGES: TER HOLLMANN, SUPPLIED

              Bordering on Midrand, Kyalami and Woodmead, this 2,200ha of land is one of its kind in South Africa and exceptional in its offering to residents, commercial tenants, visitors and communities in the surrounding area..</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    
    
        <!-- START THE FEATURETTES -->
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <h1 style="text-align: center;" class="header-one">Top 5 Hotels around Gauteng</h1> <br>
          <h2 class="second-header"><marquee behavior="" direction="left">5 Star Hotels around Gauteng</marquee></h2> <br>
          <div class="col-md-2 models">
           <div>
            <img class="model" src="https://www.andbeyond.com/wp-content/uploads/sites/5/Five-restaurants-and-bar-at-Four-Seasons-The-Westcliff.jpg" alt="Four season hotel"> 
           </div>
           <div>
            <a href="#" class="nav-link"><h5 class="header-five">Four Season Hotel</h5></a>
            <h6 class="header-six">The Westcliff</h6>
            <p class="paragraph">Johannesburg</p>
            <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/Four+Seasons+Hotel+The+Westcliff,+Johannesburg,+67+Jan+Smuts+Ave,+Westcliff,+Johannesburg,+2132/@-26.2524709,28.0767938,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e950c8e67025b7f:0xee55480f81adeff!2m2!1d28.0324885!2d-26.1709961" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
            <h4 class="header-four">From R 4 800</h4>
           
           </div>
        </div>
          <div class="col-md-2 models">
           <div>
            <img class="model" src="https://travelground.imgix.net/AAEAAQAAAAAAAAAAAAAAJGE2Y2JjMTg1LWJiMDItNDFhYS1hNGFhLWY3Njg0ZGJjY2ZlOQ?w=540&h=405&fit=crop&auto=enhance,format,compress&q=80" alt="St Andrews Hotel"> 
           </div>
           <div>
            <a href="#" class="nav-link"><h5 class="header-five">St Andrews Hotel & Spa</h5></a>
            <p class="paragraph">Johannesburg</p>
            <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/St+Andrews+Hotel+and+Spa,+22+Milner+Ave,+St+Andrews,+Germiston,+2007/@-26.2512719,28.1238764,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e9512115bfc6239:0xa22324a06040831!2m2!1d28.12876!2d-26.16477" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
            <h4 class="header-four">From R 945</h4>
            
           </div>
        </div>
        
        <div class="col-md-2 models">
          <div>
           <img class="model" src="https://digital.ihg.com/is/image/ihg/intercontinental-johannesburg-3817678225-2x1?wid=1440&fit=fit,1" alt="Four season hotel"> 
          </div>
          <div>
            <a href="#" class="nav-link"><h5 class="header-five">InterContinental</h5></a>
            <h6 class="header-six">Tambo Airport</h6>
            <p class="paragraph">Johannesburg</p>
            <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/InterContinental+Johannesburg+O.R.Tambo+Airport,+an+IHG+Hotel,+O.R.+Tambo+International+Airport,+Opposite+Int'L+Arrivals+Hall,+Kempton+Park,+Johannesburg,+1619/@-26.2172568,28.1403004,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e95146a44e6a0d5:0x4186dbd14808ee7!2m2!1d28.2309201!2d-26.1332182;" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
            <h4 class="header-four">From R 5 182</h4>
          </div>
        </div>    
        <div class="col-md-2 models">
          <div>
           <img class="model" src="https://afar-production.imgix.net/uploads/images/post_images/images/9rykywAupL/original_open-uri20140812-6743-1tsjjrc?1407895959?ixlib=rails-0.3.0&auto=format%2Ccompress&crop=entropy&fit=crop&h=719&q=80&w=954g" alt="The residents Boutique"> 
          </div>
          <div>
            <a href="#" class="nav-link"><h5 class="header-five">The Residence Boutique Hotel</h5></a>
            <h6 class="header-six">Hough Estate</h6>
            <p class="paragraph">Johannesburg</p>
            <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/The+Residence+hotel,+17+4th+Ave,+Houghton+Estate,+Johannesburg,+2198/@-26.2530648,28.076794,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e950c4e7686b7a1:0x6bbbc0427a11dfad!2m2!1d28.0593813!2d-26.1645759" class="nav-link form-control">Get<span style="color: darkturquoise;"> Directions</span></a></p>
            <h4 class="header-four">From R 4 935</h4>
          </div>
        </div>    
        <div class="col-md-2 models">
          <div>
           <img class="model" src="https://akdmc.com/media/1440/davince-hotel.jpg" alt="DaVinci Hotel"> 
          </div>
          <div>
            <a href="#" class="nav-link"><h5 class="header-five">DaVinci Hotel And Suites</h5></a>
            <h6 class="header-six">Maude st, Santon</h6>
            <p class="paragraph">Johannesburg</p>
            <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/DaVinci+Hotel+and+Suites+on+Nelson+Mandela+Square,+Corner+5th+Street+%26,+Maude+St,+Sandton,+2031/@-26.2110161,28.019068,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e9573327ed48c55:0x84617ba6188f2929!2m2!1d28.0536071!2d-26.1075441" class="nav-link form-control">Get<span style="color: darkturquoise;"> Directions</span></a></p>
            <h4 class="header-four">From R 2 182</h4>
          </div>
        </div> 
        <div style="margin-top: 15px">
          <a href="" class="btn btn-outline-info form-control">More Hotels</a>
        </div>

        <hr class="featurette-divider">

        <div class="music">
          <h1 style="text-align: center;" class="header-one">Top 5 South Africa Events for this month</h1>
          <h2 class="second-header"><marquee behavior="" direction="left">5 most Events that will be heald around Gauteng</marquee></h2>
         
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://images.quicket.co.za/0336700_0.jpeg" alt=""> 
           </div>
           <div>
             <a href="#" class="nav-link"><h5 class="header-five">Christmas On Ice</h5></a>
             <h6 class="header-six">Centurion</h6>
             <p class="paragraph">Mnr Sein Installers</p>
             <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/-25.890871,28.097403/@-26.1106741,27.914723,10z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> directions</span></a></p>
             <h4 class="header-four">From R 150</h4>
           </div>
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://images.quicket.co.za/0276756_0.jpeg" alt=""> 
           </div>
           <div>
             <a href="#" class="navlink"><h5 class="header-five">Introduction to Archery</h5></a>
             <h6 class="header-six">Randburg</h6>
             <p class="paragraph">Parkview</p>
             <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/-26.156867,28.031376/@-26.2486614,28.0067482,11z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
             <h4 class="header-four">From R 160</h4>
           </div>
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://images.quicket.co.za/0342834_0.jpeg" alt=""> 
           </div>
           <div>
             <a href="#" class="nav-link"><h5 class="header-five">Restrain & weapon retention</h5></a>
             <h6 class="header-six">Benoni</h6>
             <p class="paragraph">Brentwood Park</p>
             <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/-26.1203091,28.3003843/@-26.2111506,28.2176716,12z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0;" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
             <h4 class="header-four">From R 995</h4>
           </div>
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://images.quicket.co.za/0345814_0.jpeg" alt=""> 
           </div>
           <div>
             <a href="#" class="nav-link"><h5 class="header-five">The year end brunch</h5></a>
             <h6 class="header-six">Tembisa</h6>
             <p class="paragraph">Endayini</p>
             <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/?api=1&destination=-26.019101,28.191192" target="_blank" class="nav-link form-control">Get<span style="color: darkturquoise;"> Directions</span></a></p>
             <h4 class="header-four">From R 200</h4>
           </div>
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://images.quicket.co.za/0337289_0.jpeg" alt=""> 
           </div>
           <div>
             <a href="#" class="nav-link"><h5 class="header-five">Christams Mirari Gin & Chocolate experiance</h5></a>
             <h6 class="header-six">New Doornfontein</h6>
             <p class="paragraph">Johannesburg</p>
             <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/?api=1&destination=-26.20269,28.05538" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
             <h4 class="header-four">From R 275</h4>
           </div>
        </div>
        <div style="margin-top: 15px">
          <a href="" class="btn btn-outline-info form-control">More Event that are happening around Gauteng</a>
        </div>

        <hr class="featurette-divider">

        <div class="music">
          <h1 style="text-align: center;" class="header-one">Top 5 entertaining or fun places.</h1>
          <h2 class="second-header"><marquee behavior="" direction="left">5 most fun placess to visit around Gauteng</marquee></h2>
         
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://www.montecasino.co.za/wp-content/uploads/2020/06/Palazzo-slider-img.jpg" alt=""> 
           </div>
           <div>
             <a href="#" class="nav-link"><h5 class="header-five">Montecasino</h5></a>
             <h6 class="header-six">Fourways</h6>
             <p class="paragraph">Johannesburg</p>
             <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/Montecasino,+Montecasino+Blvd,+Fourways,+Johannesburg,+2055/@-26.1828328,27.9976439,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e9576aedbaa739b:0xae8c11266b1d3778!2m2!1d28.0118433!2d-26.0245212" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
             <h4 class="header-four"></h4>
           </div>
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://brakpanherald.co.za/wp-content/uploads/sites/27/2018/05/logo-1.png" alt=""> 
           </div>
           <div>
             <a href="#" class="nav-link"><h5 class="header-five">Emperors Palace</h5></a>
             <h6 class="header-six">O.R Tambo</h6>
             <p class="paragraph">Kempton Park</p>
             <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/Emperors+Palace,+64+Jones+Rd,+O.R.+Tambo,+Kempton+Park,+1620/@-26.2255719,28.1878908,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e9514506aaf1531:0xb2a0e221798a4905!2m2!1d28.223263!2d-26.1468162?hl=en" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
             <h4 class="header-four"></h4>
           </div>
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://c8.alamy.com/comp/JYR63B/the-anaconda-ride-at-gold-reef-city-theme-park-johannesburg-gauteng-JYR63B.jpg" alt=""> 
           </div>
           <div>
             <a href="#" class="nav-link"><h5 class="header-five">Gold Reef City</h5></a>
             <h6 class="header-six">Northern Park</h6>
             <p class="paragraph">Johannesburg</p>
             <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/Gold+Reef+City+Casino,+Cnr+Northern+Parkway+and,+Data+Cres,+Ormonde,+Johannesburg+South,+2159/@-26.2579207,28.0640754,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e95092ded27fd97:0xc7369036706a2a7e!2m2!1d28.012824!2d-26.2391768?hl=en" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
             <h4 class="header-four"></h4>
           </div>
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://lh5.googleusercontent.com/p/AF1QipP3q7YGBF1v9Cz5IgT-Z2Z-Vfg58CyorUgB2agG=w427-h240-k-no" alt=""> 
           </div>
           <div>
             <a href="#" class="nav-link"><h5 class="header-five">Time Squire Casino</h5></a>
             <h6 class="header-six">Menlyn</h6>
             <p class="paragraph">Pretoria</p>
             <p style="color: blue; font-weight: 500;"><a href="google.com/maps/dir/-26.2974654,28.2598426/Sun+Time+Square+Casino,+209+Aramist+Ave,+Menlyn,+Pretoria,+0181/@-26.0443845,27.9147319,10z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e9560ba2d39a207:0x683c959056d67ee0!2m2!1d28.2801848!2d-25.7879801?hl=en" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
             <h4 class="header-four"></h4>
           </div>
        </div>
        <div class="col-md-2 models">
          <div>
            <img class="model" src="https://admin.clhg.com/img/RIavCY_carnival_city.jpg" alt=""> 
           </div>
           <div>
             <a href="#" class="nav-link"><h5 class="header-five">Carnival City Casino</h5></a>
             <h6 class="header-six">Brakpan</h6>
             <p class="paragraph">Boksburg</p>
             <p style="color: blue; font-weight: 500;"><a href="https://www.google.com/maps/dir/-26.2974654,28.2598426/Carnival+City+Casino,+%26+Century+Rd,+Elsburg+Rd,+Brakpan,+Boksburg,+1540/@-26.2720885,28.2706243,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x1e95228e04c36057:0x162c21f68b0c9540!2m2!1d28.3166577!2d-26.2575229?hl=en" class="nav-link form-control" target="_blank">Get<span style="color: darkturquoise;"> Directions</span></a></p>
             <h4 class="header-four"></h4>
           </div>
        </div>
        <div style="margin-top: 15px">
          <a href="" class="btn btn-outline-info form-control">More Entertainment</a>
        </div>

        <hr class="featurette-divider">
      </div>  